*{
    margin: 0px;
    padding: 0px;
    font-family: "poppins","sans-serif";
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:#5a5a5a;

}
img{
    cursor: pointer;
}

.flex-display{
    display: flex;
    align-items: center;
}

nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

.right-nav img{
    width: 25px;
    margin-right: 25px;

}

.right-nav .user-icon{
    width: 35px;
    border-radius: 50%;
    margin-right: 0;
}

.left-nav .menu{
    width: 22px;
    margin-right: 25px;
}

.left-nav .logo{
    width: 130px;
    
}

.middle-nav .mic-icon{
    width: 16px;
}

.middle-nav .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}

.middle-nav .search-box input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}

.middle-nav .search-box img{
    width: 15px;
}


/* ------------------SideBar-------------------------- */

.sidebar{
    background-color: #fff;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
}

.shortcut-link a img{
    width: 20px;
    margin-right: 20px;
}

.shortcut-link a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}

.shortcut-link a:first-child{
    color: #ed3833;
}

.sidebar hr{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 85%;
}

.subscribed-list h3{
    font-size: 13px;
    margin: 20px 0;
    color: #5a5a5a;
}

.subscribed-list a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}

.subscribed-list a img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}


.small-sidebar{
    width: 5%;
}

.small-sidebar a p{
    display: none;
}

.small-sidebar h3{
    display: none;
}

.small-sidebar hr{
    width: 50%;
    margin-bottom: 25px;
}

/* -------------------Main------------------- */

.container{
    background-color: #f9f9f9;
    padding-left: 17%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.large-container{
    padding-left: 7%;
}

.banner{
    width: 100%;
}
.banner img{
    width: 100%;
    border-radius: 8px;
}

.list-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-column-gap:15px;
    grid-row-gap: 30px;
    margin-top: 15px;
}

.vid-list .thumbnail{
    width: 100%;
    border-radius: 5px;
}

.vid-list .flex-display{
    align-items: flex-start;
    margin-top: 7px;
}

.vid-list .flex-display img{
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.vid-info{
    color: #5a5a5a;
    font-size: 13px;
}

.vid-info a{
    color: #000;
    font-weight: 600;
    display: block;
    margin-bottom: 2px;
}
